
<div>

  
    <form  [formGroup]="miFormulario">
  
          <mat-form-field>
            <mat-label>Seleccione Prenda</mat-label>
            <mat-select (change)="seleccionarOpcion($event)" formControlName="tipoPrenda">
              <mat-option *ngFor="let seleccion of tipoPrenda" [value]="seleccion.prenda">
                {{seleccion.prenda}}
              </mat-option>
            </mat-select>
            </mat-form-field>


          <mat-form-field>
            <mat-label>Seleccione Talla</mat-label>
            <mat-select formControlName="tallaPrenda">
              <mat-option *ngFor="let seleccion of tallas" [value]="seleccion.talla">
                {{seleccion.talla}}
              </mat-option>
            </mat-select>
            </mat-form-field>


          
        <!--   <select formControlName="tallaPrenda">
            <option  value={{seleccion.talla}} *ngFor="let seleccion of tallas">{{seleccion.talla}}</option>
          </select> -->
          
         <!--  <input class="number" type="number"   formControlName="cantidadPrenda"> -->


          <mat-form-field class="example-full-width">
            <mat-label>Cantidad</mat-label>
            <input type="number" matInput placeholder="Ingrese Cantidad" formControlName="cantidadPrenda">
          </mat-form-field>
       
        
        
        <button mat-raised-button color="primary" type="submit" value="agregar" [disabled]="miFormulario.invalid" (click)="addPerson(miFormulario)"> Agregar</button> 
      </form>
  </div>
  
  <div>
        <!--   <p *ngFor="let mi of this.shoppingCar">{{mi.prenda}} {{mi.talla}} {{mi.precio}}</p> -->
       
       
        <!--  -->
        <div  class="container-table" *ngIf="this.Total>0">
          <table>
            <thead>
              <tr>
                <th>Id</th>
                <th>Tipo Prenda</th>
                <th>Talla</th>
                <th>Precio Unidad</th>
                <th>Cantidad</th>
                <th>Precio Total</th>
                <th>Eli</th>
              </tr>
            </thead>
            <tbody>
              
              <tr *ngFor="let mi of this.shoppingCar; index as i">
                <td>{{i+1}}</td>
                <td>{{mi.prenda}}</td>
                <td>{{mi.talla}}</td>
                <td>{{mi.precio}}</td>
                <td class="button-add-remove">
                  <div>{{mi.cantidad}}</div>
                  <div><mat-icon color="primary" (click)="aumentar(i)">add_circle</mat-icon></div>
                  <div><mat-icon color="accent"  (click)="disminuir(i)">remove_circle</mat-icon></div>
                </td>
                <td>${{mi.total}}</td>
                <td><mat-icon color="accent" (click)="borrarElemento(i)">delete</mat-icon></td>
              </tr>
              
            </tbody>
          </table>
  
          <div class="total">
            <h2 class="title-h2">Total: <span>${{Total}}</span></h2>
          </div>
        </div>
        <!--  -->


        <div *ngIf="Total>0">
        
          <mat-radio-group name="factura" [(ngModel)]="favoriteSeason" >
            <mat-radio-button color="accent" value="true" checked="true">Crear factura</mat-radio-button>
            <mat-radio-button color="primary" value="false">no</mat-radio-button>
          </mat-radio-group>
          
        </div>
        
        <div *ngIf="favoriteSeason=='true'" >
          <form [formGroup]="datosCliente">
            <mat-form-field class="example-full-width">
              <mat-label>Nombre</mat-label>
              <input matInput placeholder="Ingresar nombre" formControlName="firstName">
            </mat-form-field>
            
            
            <mat-form-field class="example-full-width">
              <mat-label>Apellido</mat-label>
              <input matInput placeholder="Ingresar apellido" formControlName="lastName">
            </mat-form-field>
            
            <mat-form-field class="example-full-width">
              <mat-label>Cedula</mat-label>
              <input type="number" matInput placeholder="Ingresar Cedula" formControlName="identification">
            </mat-form-field>  
          </form>
          <div>
            <button mat-raised-button color="accent" (click)="generarPDF()" [disabled]="datosCliente.invalid">Create pdf</button>
          </div>
        </div>
  
  </div>